* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
*, *::before, *::after {
  box-sizing: inherit
}

:root {
  --color-primary: #38c172;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  border-top: 2px var(--color-primary) solid;
  font-size: 1.4rem;
  background-color: #f9fbff;
  background-image: url(../images/code-background.svg);
  color: rgb(46, 50, 71)
}

.nav {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600
}


.nav__brand {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  padding: 3rem 12rem;
}

.nav__item {
  color: currentColor;
  text-decoration: none;
  padding: 3rem 12rem;
}

.nav__brand:hover, .nav__item:hover {
  background: #38c17141;
}

.nav__img {
  height: 2rem;
  margin-right: .5rem
}

.header {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem
}

.header__content {
  flex: 0 0 50%
}

.header__title {
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 4rem
}

.header__description {
  margin-bottom: 2.5rem;
  font-size: 2rem
}

.header__cta {
  display: inline-block;
  text-decoration: none;
  border: 0;
  background: var(--color-primary);
  padding: 1.2rem 1.8rem;
  border-radius: .3rem;
  color: rgb(242, 255, 248);
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.25);
  font-weight: 600;
  font-size: 2rem;

  transition: transform .2s;
}

.header__cta:hover {
  cursor: pointer;
  box-shadow: 0 1.2rem 3rem rgba(0,0,0,0.2);
  transform: scale(1.05);
}

.header__login {
  margin: 3rem 0;
}

.header__login-btn {
  color: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  border-bottom: var(--color-primary) 2px solid;

  transition: padding .2s;
}

.header__login-btn:hover {
  cursor: pointer;
  padding: 1rem 4rem;
}

.header__footnote {
  display: block;
  font-size: 1.2rem;
  color: rgb(62, 68, 67)
}

.header__img {
  flex: 1;
  height: 80%;
}

/* responsive stuf */
@media screen and (max-width: 1125px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .header__img {
    height: 40%;
  }

  .nav__brand, .nav__item {
    padding: 3rem 6rem;
  }
}

@media screen and (max-width: 585px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center
  }

  .nav__brand, .nav__item {
    display: flex;
    justify-content: center
  }
}
